APP=prod

#Les clients ID du site etu de l'UTT
SITE_ETU_CLIENT_ID=
SITE_ETU_CLIENT_SECRET=

# L'id du bot discord fourni par discord dans l'interface du discord
BOT_TOKEN=
# Mettez true si vous voulez surveiller les pull rate limit, rien sinon
WATCH_RATE_LIMIT=
SERVER_ID=

# Le channel sur lequel le bot communique et sur lequel on peut poser des questions
CHANNEL_ADMIN_ID=

# Les identifiants des roles
ROLE_ENSEIGNANT_ID=
ROLE_ETUDIANT_ID=
ROLE_ANCIEN_ETUDIANT_ID=
# Le rôle des profs autorisés pendant les vacances
ROLE_VACANCES_ENSEIGNANT_ID=

#Le lien https://discord.gg/...
LIEN_INVITATION_DISCORD=
#Interface web du bot
BOT_URL=
BOT_PREFIX=/UE

#L'ID de la catégorie où créer les amphis
CATEGORY_AMPHI=

#Pour les exports
#https://github.com/Tyrrrz/DiscordChatExporter/wiki
#Si docker
DISCORD_CHAT_EXPORTER_EXE_PATH=/usr/src/DiscordChatExporter.CLI/DiscordChatExporter.Cli.dll
DISCORD_CHAT_EXPORT_PATH=/var/exports/

#A mettre à 1 si on est en vacances
VACANCES=0

# Envoie une alerte sur le channel d'admin dès que ces personnes se connectent
WATCHED_MEMBERS=user#0000,user2#0102

#Load Balancing : Si 1 active l'écoute en question, si autre désactive
# Dans un cas de load balancing classique, on a un bot en écoute discord et 0 web, et 3 autres par exemple en écoute
# discord unique.
# Meme si WEB_LISTEN est à 0, un serveur web tournera quand même pour servir les exports sur /exports
DISCORD_LISTEN=1
WEB_LISTEN=1

# complete path to a log file dedicated for the bot
LOG_FILE=

# liste de channels où les gens peuvent publier en anonyme
# nom1:channel_id[:ROLE_ID],[nom2:channel_id[:ROLE_ID]]
# si pas de role spécifié, vérifie que l'user a le droit d'écrire dans le channel
ANONYMOUS_CHANNELS=

# utilisé pour les routes :
# /cron/CRON_SECRET/action
CRON_SECRET=

# Permet de lister des prenoms/nom mnanuellement
# pour les pseudos trop longs
# sous la forme discordTag#4512:Prenom NOM,discordTag2#8452:JHGjhg
NAME_OVERRIDE=
