{% extends 'layout.twig' %}

{% block body %}
  <h1>A. Accédez à la plateforme</h1>
  <p>1. Assurez-vous d'avoir installé Discord et d'avoir un compte en vous rendant sur le site <a href="https://discordapp.com" target="_blank">de Discord</a>.</p>
  <p>2. Rejoignez le serveur Discord que nous avons créé en cliquant sur <a href="{{ lienDiscord }}" target="_blank">ce lien</a>.</p>
  <h1>B. Indiquez votre nom d'utilisateur Discord pour être autorisé à interagir</h1>
  <p>Celui-ci se situe tout en bas à gauche de l'interface de Discord, il est représenté sous la forme <b>Utilisateur#1234</b>.</p>
  <p>En cliquant sur le bouton envoyer, vous acceptez de donner à Discord Inc. les informations suivantes : nom, prénom, si vous êtes étudiant ou non. Si vous êtes étudiant, les informations suivantes sont également transmises : branche, niveau dans la branche, listes des UEs suivies.</p>
  <p>Contacter Ivann LARUELLE (larueli#0199, ivann.laruelle@utt.fr, m.me/ILaruelle), créateur de cet outil de connexion, en cas de souci.</p>
  <form action="/attribuerrole">
    <label for="utilisateur">Nom d'utilisateur Discord :</label><br>
    <input type="text" id="utilisateur" name="utilisateur">
    <label for="discriminant">#</label>
    <input type="text" id="discriminant" name="discriminant"><br>
    <input type="hidden" name="site_etu_token" id="site_etu_token" value="{{ token }}">
    <input type="submit" value="Envoyer !">
  </form>
{% endblock %}
